.navbar-brand
{
  font-size: x-large;
  font-weight: bolder;
}
.navbar-nav .nav-link {
    font-size: 18px; 
  };
  
  .navbar-brand {

    font-size: 24px; 
 
  }
  .container-fluid{
    background-color: rgb(165, 165, 165);
    border-color: black;
  }
  .dropdown-menu
  {
    background-color: rgb(165, 165, 165);
    font-size: 15px;
    border-color: black;
    
  }
  
  
